$theme-colors: (
  white_1: #fff,
  light_1: #fffcf5,
  gray_1: #f2f2f2,
  gray_2: #d6d1cd,
  gray_3: #a7a7a7,
  gray_4: #a6a6a6,
  gray_5: #828282,
  gray_6: #777777,
  gray_7: #666666,
  gray_8: #444444,
  leather_1: #e7dccc,
  leather_2: #eee7db,
  leather_3: #eae2d6,
  orange_light: #f0ad4e,
  orange_bold: #f59103,
  pink_light: #d37c82,
  red_1: #ff0000,
  red_2: #db0000,
  red_medium: #bf1e2e,
  red_bold: #b50002,
  red_dark: #940e11,
  brown_bold: #74350a,
  black_1: #191919,
  black_2: #202020,
  black_3: #000000,
);

@import "../node_modules/bootstrap/scss/bootstrap";
